/* https://github.com/Krylan/css-cards */
/* Modified sizes... */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
--card-corner-radius: 5px;
--card-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
--card-width: 60px; /*150px;*/
--card-std-width: 150px;
--card-height: 84px; /*210px;*/
--card-std-height: 210px;
--card-scale: calc(var(--card-width) / var(--card-std-width));
--card-font: 'Roboto', sans-serif;
}

/* ------------------ */
/* - CLASSIC CARDS -- */
/* ------------------ */

.classic-playset{ position:relative; }

card{
width:var(--card-width);
height:var(--card-height);
position: absolute;
border-radius:var(--card-corner-radius);
transition: transform 0.2s linear, margin 0.2s linear;
transform-style: preserve-3d;
box-shadow: var(--card-box-shadow);
background-color:#FDFDFD;
text-align:center;
cursor:default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: var(--card-font);
}

card:after{
content: '';
position: absolute;
right: 0;
bottom: 0;
top: 0;
left: 0;
background-image: url('classic.jpg');
background-size:100% 100%;
transform: rotateY( 180deg );
border-radius:var(--card-corner-radius);
overflow:hidden;
-moz-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

card.back{
transform-origin:center bottom;
transform: rotateY( 180deg );
}

card div{
font-size: calc(84px * var(--card-scale)); /*84px;*/
line-height:var(--card-height);
background-size:80%;
background-position:center;
background-repeat:no-repeat;
width:100%;
height:100%;
}

card div:before, card div:after{
content: '';
position:absolute;
display: block;
white-space: pre;
font-size: calc(28px * var(--card-scale)); /*28px;*/
line-height:normal;
}
card div[data-suit=hearts], card div[data-suit=diamonds], card div[data-suit=red]{
color:#F00;
}
card div[data-suit=clubs], card div[data-suit=spades], div[data-suit=black]{
color:#000;
}

card div:before{
top:calc(5px * var(--card-scale));/*5px;*/
left:calc(10px * var(--card-scale)); /*10px;*/
}

card div:after{
  bottom:calc(5px * var(--card-scale));/*5px;*/
  right:calc(10px * var(--card-scale));/*10px;*/
  bottom:2px; /* hack; above calculations do not work in browser??? */
  right:4px; /* hack; above calculations do not work in browser??? */
  transform: rotate( 180deg );
}

card div[data-suit=hearts]:before, card div[data-suit=hearts]:after{
content: attr(data-rank) '\a ♥';
}
card div[data-suit=diamonds]:before, card div[data-suit=diamonds]:after{
content: attr(data-rank) '\a ♦';
}
card div[data-suit=clubs]:before, card div[data-suit=clubs]:after{
content: attr(data-rank) '\a ♣';
}
card div[data-suit=spades]:before, card div[data-suit=spades]:after{
content: attr(data-rank) '\a ♠';
}
card div[data-suit=red]:before, card div[data-suit=red]:after, card div[data-suit=black]:before, card div[data-suit=black]:after{
content: attr(data-rank);
}

/* ------------------ */
/* -- HAND & DECK --- */
/* ------------------ */

.hand, .deck{ position:absolute; }
.hand::-webkit-scrollbar { display: none; }
.hand{ max-width:100vw; }
.hand card, .deck card{
position:relative;
float:left;
display:inline;
margin-right: auto;
}
.hand card:not(:first-child){
margin-left: calc(0px - var(--card-width) / 1.5);
}
.hand card:hover{ margin-top: calc(-50px * var(--card-scale)); /*-50px;*/ }
.hand card:hover + card:not(:hover){
margin-left: calc(0px - var(--card-width) / 4.5);
}
.hand card:not(:hover) ~ card:hover{
margin-left: calc(0px - var(--card-width) / 4.5);
}
.deck card:not(:first-child){
margin-left: calc(2px - var(--card-width));
}
.hand.spread card:not(:first-child){
transition: margin 0.1s linear;
margin-left: calc(0px - var(--card-width) / 3);
}

/* ------------------ */
/* ----- JQUERY ----- */
/* ------------------ */
.sortable-placeholder{ z-index:999;opacity:0.5; }
.sortable-placeholder:after{ display:none; }
.ui-sortable-helper{ z-index:1000; }