html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

aside {
  background: #ddd;

  display: flex;
  flex-direction: column;
}

aside div {
  flex: 0;
}

aside div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

aside div:nth-child(2) h3 {
  flex: 0;
}

aside div:nth-child(2) ul {
  flex: 1;
  overflow-y: scroll;
  height: fit-content;
}

.chat-messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-messages li {
  background: #555;
  padding: 4px;
  margin: 4px 8px;
}

.chat-messages li div {
  color: rgba(255,255,255,0.35);
  font-size: 10px;
}

.chat-messages li p {
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  white-space: preserve;
}

.post-chat-message-section {
  display: flex;
}

.post-chat-message-section textarea {
  flex: 1;
  resize: none;
  font-size: 12px;
}