html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

aside {
  background: #ddd;

  display: flex;
  flex-direction: column;
}

aside div {
  flex: 0;
}

aside div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

aside div:nth-child(2) h3 {
  flex: 0;
}

aside div:nth-child(2) ul {
  flex: 1;
  overflow-y: scroll;
  height: fit-content;
}

.chat-messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat-messages li {
  background: #555;
  padding: 4px;
  margin: 4px 8px;
}

.chat-messages li div {
  color: rgba(255,255,255,0.35);
  font-size: 10px;
}

.chat-messages li p {
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  white-space: preserve;
}

.post-chat-message-section {
  display: flex;
}

.post-chat-message-section textarea {
  flex: 1;
  resize: none;
  font-size: 12px;
}



.item.player-container .player-name {
  position: absolute;
  top: -24px;
  color: #555;
  background: #ddd;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 10px;
}

.hand {
  display: flex;
  gap: 5px;
}

.player-container .hand {
  bottom: -16px;
  position: absolute;
}

.player-container .hand playing-card {
  width: 32px;
  margin-left: -25px;
}

.player-container .hand playing-card:first-child {
  margin-left: 0;
}

#hud {
  border: 1px solid red;
}

#hud .hand playing-card {
  width: 128px;
}







:root {
  --radius: 200px;   /* Circle size */
}
.circle {
  position: relative;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  margin: 100px auto;


  border-radius: var(--radius);
  background: #4e2b2b;
}
.item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px;
  
  background: #667eea;
  /* color: white; */
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  font-weight: 600;
  
  /* This is where the magic happens */
  --angle: calc(360deg / var(--total) * var(--i));
  
  transform: 
    rotate(var(--angle))           /* Rotate to position */
    translateX(var(--radius))      /* Move away from center */
    rotate(calc(-1 * var(--angle))); /* Rotate back */
}